* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.main-container .main-top-part button{
    padding: 13px 40px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(40, 145, 231);
}
.main-container .main-top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.main-container .main-input-part{
    display: flex;
    height: 50px;
    background-color: blue;
    box-shadow: 10px 10px 10px  15px rgba(68, 68, 68, 0.1);
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.main-input-part input{
    width: 100%;
    padding: 2px 15px;
    border: none;

}
.main-input-part button{
    width: 80px;
    font-weight: bold;
    color: white;
    height: auto;
    background-color: rgb(50, 204, 50);
    border: none;
}
