*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.main-container{
    height: 300px;
    width:fit-content;
    background-color: rgb(130, 71, 207);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;


}

.to-do{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0 1rem;
    height: fit-content;
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.to-do .to-do-btns{
    font-size: 1.5rem;
}

.to-do p{
    font-size: 1.2rem;
}


